*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    color: #fff;
    background: #a3a1a1;
    height: 94px;
}
.headr-logo{
    padding: 25px 50px;
}
.header-nav{
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0 50px;
    margin: 0;
}
.header-nav-link{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    margin-right: 50px;
    color: inherit;
}
.header-phone{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    margin-right: 50px;
   
}
.header-phone-link{
     text-decoration: none;
     font-size: 16px;
     color: inherit;
}
.button{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    background: #3A71D1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 60px;
    gap: 10px;
    border: none;
    flex-shrink: 0;
}
.header-button{
    height: 100%;
}